.container {
  max-width: $container-width;
  margin: 0 auto;
}

h1 {
  font-size: 84px;
  font-weight: 400;
  line-height: 100%;
}

a {
  cursor: pointer;
  transition: opacity 0.6;

  &:hover, &:focus, &:active {
    opacity: 0.7;
  }
}