// assets/scss/_fonts.scss

@font-face {
  font-family: 'TT Commons';
  src: url('../fonts/TTCommons-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}