$tablet-width: 1024px;
$mobile-width: 768px;

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin respond-to($width) {
  @media (max-width: $width) {
    @content;
  }
}