// Colors
$color-black: #101010;
$color-white: #FFFFFF;
$color-lavender: #E2BEFF;
$color-gray-light: #F3F3F3;
$color-gray-hover: #E8E8E8;

// Text
$font-main: 'TT Commons', sans-serif;
$text-main: $color-black;

// Components
$btn-read-more: $color-lavender;

$pg-bg: $color-gray-light;
$pg-text: $color-black;
$pg-hover: $color-gray-hover;
$pg-active-bg: $color-black;
$pg-active-text: $color-white;

// Layout
$container-width: 1200px;